<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>


      <div class="footer-col">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          {% endif %}

          {% if site.twitter_username %}
            {% include icon-twitter.html username=site.twitter_username %}
          {% endif %}

	  {% if site.deviantart_username %}
	    {% include icon-deviantart.html username=site.deviantart_username %}
	  {% endif %}

	  {% if site.hackerrank_username %}
	    {% include icon-hackerrank.html username=site.hackerrank_username %}
	  </li>
	  {% endif %}

        </ul>
      </div>


      <div class="footer-col">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
